# Clase 1
### Esta es mi primera clase de Python, usando Jupyter notebooks 
15 feb 2024

In [11]:
print("Hola mundO")
if 3+6 > 10:
    print("si es")
else:
     print("No es")

Hola mundO
No es

Este es un texto tipo markdown PMD?

In [1]:
#Suma
3+4

7

In [3]:
#Resta 
7-3

4

In [4]:
#Multiplicacion
4*6

24

In [5]:
#Division
346/55

6.290909090909091

In [8]:
#Floor (division sin residuo)
7//3

2

In [10]:
#Modulo (residuo de la division)
6%8

6

## Como sabemos si un numero es par o non?

In [24]:
# Como sabemos si un numero es par o non?

numero = 10

resultado = print(numero%2)

if resultado != 0:
    print('Es non')
else:
    print('es par')

0
Es non

## Tecnica: Orden de operaciones

## Tecnica: Orden de operaciones
El orden va como
(), **, *, /, +. -

In [28]:
#Ejemplo
4+6*6
#Multiplica primero y despues suma

40

In [29]:
#uso de parentesis (calculadora)
(2+4)*5

30

In [31]:
#Suma que no da cero! ORAA
#No sabia esto :0 
#No sabe hacer aproximaciones con numeros flotantes
(0.1 + 0.2)-0.3
#PORRRR

5.551115123125783e-17

In [33]:
#Asignacion de variables

numero = 5
print(numero)

5

In [36]:
#Asignacion de sumas
y= 9 + numero
print(y)

14

In [38]:
#Asignacion de texto
y = 'ahora y ya no es un numero, es un string'
print(y)

ahora y ya no es un numero, es un string

In [44]:
#Sumas de texto
texto_1 = 'ola k'
texto_2 = 'ase'

texto_3 = texto_1 + ' ' + texto_2
print(texto_3)

ola k ase

In [47]:
#sumas de texto y numeros

#Si hago

#Nos data error text_9 = 'Castear' + 44 

#Pero podemos hacer

texto_9 = 'Castear' + str(44)
print(texto_9)

str(1234)

Castear44

'1234'

In [78]:
#Saltos de linea a los textos

textito = "Imprime esto y ponle un salgo de linea \n y si no funciona? \n"
print(textito)

Imprime esto y ponle un salgo de linea
 y si no funciona?

In [80]:
#acaso podemos multiplicar texto?

textito_6 = textito * 6
print(textito_6)

#Si podemos :)

Imprime esto y ponle un salgo de linea
 y si no funciona?
Imprime esto y ponle un salgo de linea
 y si no funciona?
Imprime esto y ponle un salgo de linea
 y si no funciona?
Imprime esto y ponle un salgo de linea
 y si no funciona?
Imprime esto y ponle un salgo de linea
 y si no funciona?
Imprime esto y ponle un salgo de linea
 y si no funciona?

In [56]:
mi_ganancia = 100
impuesto = 0.16

ganancia_neta = mi_ganancia - (mi_ganancia * impuesto)
print("Mi ganancia neta fue de $" + str(ganancia_neta))

Mi ganancia neta fue de $84.0

In [63]:
#Tecnica: tipos de variables: type()

#type(texto)

print(type(impuesto)) # para que imprima ambos
type(mi_ganancia)

<class 'float'>

int

## Reto

In [83]:
#En una sola linea de codigo, (one-liner) repite la letra A 20 veces y la letra T 30 veces
ADN = ("A" * 20) + ("T" *30)
print(ADN)

AAAAAAAAAAAAAAAAAAAATTTTTTTTTTTTTTTTTTTTTTTTTTTTTT

In [84]:
#Tecnica: funcion len(), te dice la longitud de una cadena de caracteres

len(ADN)

50

In [91]:
#Tecnica:indexing and subindexing

#texto[] (elemento)

ADN[10] #me regresa el elemento 10 del string

'AAAAAAAAA'

In [96]:
#Python indexa en 0, por lo que si le decimos
ADN[50] #habra errorrrrrr, porque el indice empieza en 0, es decir que el ultimo caracter, el 50, es en realidad el 49

IndexError: string index out of range

In [93]:
#texto[] (secuencia)
ADN[1:10] #regresa los elementos del 1 al 10 de mi string

'AAAAAAAAA'

In [95]:
#texto [::] (step/paso)
#podemos decirle que inicie en una posicion, llegue a otra y se salte unas
ADN[12:35:2]  #empieza en el 12, termina en el 35, de dos en dos (se salta uno)

'AAAATTTTTTTT'

In [124]:
#Tambien podemos decirle que empiece y termine en el default, es decir, en donde empieza y termina nuesta string y que vaya de tanto en tanto

texto_1[::2]

'oak'

In [98]:
#como saber el indice de mi ultimo elemento? 
#podria ser len() - 1 perooo py hace cosas mas sencillas

#texto [-1] orden inverso

texto_1[-1]

'k'

## Reto again

In [101]:
# K) Repite la cadena "ACGT" 20 veces y guardala en una variable llamada 'adn'

adn = "ACGT" *20 

print(adn)
# A) obtener la letra 23, despues 
# B)

ACGTACGTACGTACGTACGTACGTACGTACGTACGTACGTACGTACGTACGTACGTACGTACGTACGTACGTACGTACGT

In [127]:
# A) obtener la letra 23, despues 

adn[22]

'G'

In [128]:
#B) Obten las primeras 10 letras de adn
adn[0:10]  #no toma la ultima letra, el ultimo indice

'ACGTACGTA'

In [133]:
#C) Obten de la letra 3 a la letra 15 de adn
adn[2:15]

'GTACGTACGTACG'

In [113]:
#D) Invierte la secuencia de ADN

adn[-1::-1]

'TGCATGCATGCATGCATGCATGCATGCATGCATGCATGCATGCATGCATGCATGCATGCATGCATGCATGCATGCATGCA'

In [136]:
#E) Obten solo las letras T del adn
#esto es lo unico que no entendi lol

adn[::-4]

'TTTTTTTTTTTTTTTTTTTT'

## Tecnica: Mayusculas (upper) y minusculas (lower)

In [137]:
texto = 'Sando-Lab'

In [142]:
#Upper()
print(adn.lower())
print(texto.lower())

acgtacgtacgtacgtacgtacgtacgtacgtacgtacgtacgtacgtacgtacgtacgtacgtacgtacgtacgtacgt
sando-lab

# Tecnica: PRINT y FORMATOS

In [1]:
#Si asignamos vars primero

numero = 5
texto = 'Hola INMEGEN'
print(texto, numero)

Hola INMEGEN 5

In [8]:
#usando la f de formato podemos poner varios tipos de variables

print(f'Hola {0}, "cuack"')

Hola 0, "cuack"

In [3]:
#Podemos usar indices 
print('Cara de {1}, pelo de {2}, y pies de {0}'.format('pizza','raviolis','espaguetti')) #aqui no tenemos el f al inicio

Cara de raviolis, pelo de espaguetti, y pies de pizza

In [14]:
cara = 'pizza'
pelo = 'espaguetti'
pies = 'pizza'

print(f'Cara de {cara}, pelo de {pelo}, pies de {pies}')

Cara de pizza, pelo de espaguetti, pies de pizza

In [12]:
#Formato de deicmales
#print(f'El numero pi es pi:1.3f')

pi = 3.14159265358979323846

#Aqui le puedo decir cuantos decimales le quiero poner a mi numero flotante
print(f'{pi:1.3f}') #con 3 decimales
print(f'{pi:1.10f}') #con 10 decimales

3.142
3.1415926536

# Reto 
##Usando todas las variables a continuacion, imprime la oracion:
##"Mi nombre es Elubiera Llano Ixiste, tengo cara ovalada y pies grandes. Tengo 23 anos y mido 1.73 m?"

In [21]:
##
nombre = "Elubiera"
apellido_paterno= 'Llano'
apellido_materno = 'Ixiste'
tipo_cara = 'ovalada'
tipo_pies = 'grandes'
edad_1 = 19
edad_2 = 4
altura = '1.73'

print(f'Mi nombre es {nombre} {apellido_paterno} {apellido_materno}, tengo cara {tipo_cara} y pies {tipo_pies}, tengo {edad_1 + edad_2} anos y mido {altura}m')

Mi nombre es Elubiera Llano Ixiste, tengo cara ovalada y pies grandes, tengo 23 anos y mido 1.73m

# Tecnica Mixta: Subindexing + sumando cadenas

In [29]:
lab = 'SysCompLab'
nuevo_lab  = 'P' + lab[1:5]  #una P mas la segunda a la 4ta letra
print(nuevo_lab)

PysCo

In [41]:
#Convierte Sando-lab en Panda-Lab usando Slicing, Suma de cadenas y las variables a continuacion

lab = 'Sando-Lab'
cdn_1 = 'P'
cdn_2 = 'a'

nuevo_lab = cdn_1 + lab[1:4] + cdn_2 + lab[-4:]
print(nuevo_lab)

Panda-Lab

M3: Estructuras y Operadores

In [43]:
# Estructura de datos

#Movimiento: LISTAS[]

#purinas/pirimidinas

purinas = ['A', 'G']
pirimidinas = ['T', 'C']

print(purinas)

['A', 'G']

In [49]:
#indexing
cochinero = ['pizza', 576, 'Avion', 4] #esto es una lista
len(cochinero)

4

In [50]:
#Suma de listas
bases_nitrogenadas = purinas + pirimidinas
print(bases_nitrogenadas)

#suma de listas
cochinero = cochinero + bases_nitrogenadas
print(cochinero)

['A', 'G', 'T', 'C']
['pizza', 576, 'Avion', 4, 'A', 'G', 'T', 'C']

In [72]:
#METODO: APPEND
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange") 
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [57]:
# Tecnica: POP

#Pop (quitar un elemento) lista.pop()
lista = ["A","B","C"]

lista.pop()  #.pop() por default va a sacar el ultimo caracter de una lista
lista.pop(0) #pero le puedo indicar el elemento que quiero sacar de la lista

'A'

In [64]:
#Tecnica: SORT

#sort(lista)

lista = ["H","X","B","A","C"]
lista.sort()
print(lista)

lista_num = [1, 56, 2.5, 2, 6]  #tambien se pueden combinar floats con ints
lista_num.sort()
print(lista_num)

['A', 'B', 'C', 'H', 'X']
[1, 2, 2.5, 6, 56]

In [67]:
cochinero.sort()
print(cochinero)

TypeError: '<' not supported between instances of 'int' and 'str'

In [70]:
#Tecnica: REVERSE

#.reverse

print(cochinero)
cochinero.reverse()   #parecido al [-1], pero mas explicito lol
print(cochinero)

['C', 'T', 'G', 'A', 4, 'Avion', 576, 'pizza']
['pizza', 576, 'Avion', 4, 'A', 'G', 'T', 'C']

# RETO
## Crea una lista de numeros enteros, una de letas, una de decimales y haz una lista de listas
##

In [91]:
ints = [1,6,7,9,10]
letras = ["H","X","B","A"] 
decimales = [1.1, 5.6, 2.5, 1.2, 1.6]

lista_enorme = []

lista_enorme.append(ints + letras + decimales)

print(lista_enorme)

#Otra manera de hacerlo seria

[[1, 6, 7, 9, 10, 'H', 'X', 'B', 'A', 1.1, 5.6, 2.5, 1.2, 1.6]]

# Movimiento: DICCIONARIOS